@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Playball&display=swap");
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;

  font-family: "DM Sans", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

@theme {
  --main-bg-color: #141414;
  --color-bg1-color: #070707;
  --color-bg2-color: #131313;
  --section-bg2-color: #1f1f1f;

  --element-bg-color: #c8f31d;
  --color-bg1-color: #202020;
  --main-font-color: #ffffff;
  --color-color0: #c8f31d;
  --font-color1: #a8a8a8;
  --color-color2: #adadad;
  --color-color3: #656565;
  --color-color4: #b3b3b3;

  --font-btn-color: #070707;
  --color-border-color: #3b3b3b;

  /* Responsive */

  --breakpoint-mobile: 40rem;
  --breakpoint-tablet-lg: 48rem;
  --breakpoint-large: 60rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --breakpoint-desktop-lg: 93rem;
}

/* About Section */
@layer utilities {
  .about-row {
    @apply flex flex-col w-full px-4 py-4 gap-2 mt-3.5 bg-bg1-color;
  }
  @media (min-width: 40rem) {
    .about-row {
      @apply flex-row items-center justify-center
             gap-10 px-[2.5rem] w-[36.25rem] h-[5.375rem];
    }
  }
}

@media (min-width: 1024px) {
  .hero-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "left right"
      "middle middle";

    justify-items: center;
  }
  .hero-left {
    grid-area: left;
  }
  .hero-middle {
    grid-area: middle;
  }
  .hero-right {
    grid-area: right;
  }
}

.loader {
  position: absolute;
  width: 64px;
  height: 60px;
}
.loader::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
  animation: move 0.5s linear infinite alternate;
}
.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  background: var(--element-bg-color);
  width: 24px;
  height: 24px;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes move {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
